numpy==1.26.2
open3d==0.18.0
opencv-python==4.8.*
trimesh==4.4.1
tqdm==4.66.1
scipy==1.11.3
pyrender==0.1.45
pillow==10.3.0
pyassimp==5.2.5
pygltflib==1.16.2
gltflib==1.0.13
DracoPy==1.4.0
scikit-learn==1.5.0
threadpoolctl==3.5.0
PyOpenGL-accelerate==3.1.7 
osmnx
geopandas
shapely
SRTM.py
pandas
elevation
rasterio